{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block content %}
<div class="overlay"></div>
<div class="container-newsletter mb-2">
    <div class="row">
        <div class="col col-12">
            <hr>
            <h3 class="text-center logo-font mb-4">Unsubscribe from Newsletter</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <span><button type="submit" class="btn back-btn btn-outline-black rounded-0 btn-md text-center" aria-label="unsubscribe">Unsubscribe</button></span>
            </form>
        </div>
    </div>
</div>
{% endblock %}