.order-history {
    max-height: 416px;
    overflow: auto;
}

.update-profile:hover {
    color: white !important;
}


@media (max-width: 300px) {

    .container-profile {
        padding-bottom: 100px;
    }
}

@media (max-width: 1000px) {

    .container-profile {
        padding-bottom: 100px !important;
    }
}