{% extends "base.html" %}
{% load static %}
{% load cart_extras %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container container-cart mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        {% if cart_items %}
        {% for item in cart_items %}
        <div class="col-12">
            <div class="card card-cart h-100 p-3">
                <div class="row">
                    <div class="col-2 force-hide d-md-block d-flex justify-content-center">
                        {% if item.stock.image %}
                        <a href="{% url 'stock_detail' item.stock.id %}">
                            <img class="img-fluid rounded" src="{{ item.stock.image.url }}" alt="{{ item.stock.name }}"
                                style="max-width: 100px;">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}default_image.jpg"
                                alt="{{ item.stock.name }}" style="max-width: 100px;">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-7 col-sm-5">
                        <div class="card-body card-cart">
                            <p class="responsive-text">
                                <strong>
                                    {% if item.size %}{{ item.size }} {% endif %}
                                    {% if item.weight %}{{ item.weight }} {% endif %}
                                    {{ item.stock.name }}
                                    {% if item.colour %} - {{ item.colour }}{% endif %}
                                </strong>
                            </p>
                            {% include "cart/quantity_form.html" %}
                            <!-- Remove button -->
                            <button class="remove-item btn-link text-danger float-center btn btn-sm"
                                data-item-id="{{ item.item_id }}" data-stock-size="{{ item.size|default_if_none:'' }}"
                                data-stock-weight="{{ item.weight|default_if_none:'' }}"
                                data-stock-colour="{{ item.colour|default_if_none:'' }}">
                                <i class="fas fa-trash-alt"></i> Remove
                            </button>
                        </div>
                    </div>
                    <div class="col-3 col-sm-5">
                        <div class="card-body card-cart d-flex justify-content-end align-items-end">
                            <p>
                                <strong>Subtotal:</strong>
                                <span id="subtotal_{{ item.item_id }}" class="subtotal">
                                    €{{ item.stock.price|calc_subtotal:item.quantity }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12">
            <div class="card card-cart p-3 d-flex align-items-end">
                <p><strong>Subtotal:</strong> €{{ total }}</p>
                <p><strong>Delivery:</strong> €{{ delivery }}</p>
                <p><strong>Total:</strong> €{{ grand_total }}</p>
            </div>
            <div class="d-flex justify-content-end align-items-end">
                <a href="{% url 'stock' %}" class="btn back-btn btn-outline-black rounded-0 btn-md">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn back-btn btn-outline-black rounded-0 btn-md">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon"><i class="fas fa-lock"></i></span>
                </a>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
        {% else %}
        <div class="row"></div>
        <div class="col-12 col-sm-6">
            <p class="lead m-5 ml-5">Your cart is empty.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-6">
            <a href="{% url 'stock' %}" class="btn back-btn btn-outline-black rounded-0 btn-md">
                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        // Update quantity on click
        $('.update-link').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('.update-form');
            var itemId = form.find('.qty_input').data('item_id');
            var quantity = form.find('.qty_input').val();
            var csrfToken = "{{ csrf_token }}";
            var url = `/cart/adjust/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
                'quantity': quantity
            };
            $.post(url, data)
                .done(function () {
                    location.reload();
                })
                .fail(function (xhr, status, error) {
                    alert("Error updating cart: " + error);
                });
        });
        // Remove variant-specific item on click
        $('.remove-item').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data('item-id');
            var size = $(this).data('stock-size');
            var weight = $(this).data('stock-weight');
            var colour = $(this).data('stock-colour');
            var csrfToken = "{{ csrf_token }}";
            var url = `/cart/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
                'stock_size': size,
                'stock_weight': weight,
                'stock_colour': colour
            };
            $.post(url, data)
                .done(function () {
                    location.reload();
                })
                .fail(function (xhr, status, error) {
                    alert("Error removing item: " + error);
                });
        });
    });
</script>
{% endblock %}