<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}" data-item-id="{{ item.item_id }}">
    {% csrf_token %}
    <div class="form-group">
        <div><p class="small">Quantity:</p></div>
        <div class="input-group">
            <input type="number"
                   class="form-control qty_input"
                   name="quantity"
                   value="{{ item.quantity }}"
                   min="1"
                   data-item_id="{{ item.item_id }}"
                   data-item_attribute="{{ item.size|default:'None' }}-{{ item.weight|default:'None' }}-{{ item.colour|default:'None' }}">
        </div>
    </div>
    <a href="#"><small class="adjust-cart update-link btn-link">Update</small></a>
    <a href="#" class="remove-item btn-link float-right" data-item-id="{{ item.stock.id }}" data-item-attribute="{{ item.attribute_key }}"><small class="text-danger"><i class="fa-solid fa-trash-can text-danger"></i> Remove</small></a>
</form>
