<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <input class="quantity-field" type="number" name="quantity" value="{{ item.quantity }}" min="1" required>
    <!-- Hidden fields for the variant attributes -->
    <input type="hidden" name="stock_size" value="{{ size }}">
    <input type="hidden" name="stock_weight" value="{{ weight }}">
    <input type="hidden" name="stock_colour" value="{{ colour }}">
</form>
<a class="update-link btn-link text-info"><small>Update</small></a>
