{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="homepage-intro">
            <div class="text-center">
                <h2 class="welcome-heading"><strong>Welcome to Woolly’s Yarn Barn – For All Things Yarn, Needles & Hooks!</strong></h2>
                <br>
                <p>Looking for the perfect yarn for your next knitting or crochet project? You’ve come to the right place! At Woolly’s Yarn Barn, we’ve got everything you need to bring your creative ideas to life – from soft, squishy skeins in every color imaginable to the perfect hooks, needles, and accessories.</p>
                <p>Whether you're a seasoned pro or just starting out, we’re here to keep you inspired and stocked up with the best quality yarns. So, grab a cup of tea, browse our collection, and let’s get stitching!</p>
                <h3>🧶 Happy crafting! 🧶</h3>
                <br>
                <p>
                    <a href="{% url 'stock' %}" class="start-shopping-button btn btn-lg text-uppercase btn-dark py-1" aria-label="click to view items">Your next project starts here!</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}