{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="text-center logo-font mb-4">Thank you for your order!</h3>
            <hr>
        </div>
    </div>
    <div class="col-8 col-sm-5">
        <div class="card-body card-cart">
            <p class="responsive-text">
                <strong>Order Number:</strong> {{ order.order_number }}
            </p>
            <br>
            <p class="responsive-text">
                <strong>Order Summary:</strong>
            </p>
            <br>
            <ul>
                {% for item in order.lineitems.all %}
                    <li>{{ item.stock.name }} - €{{ item.stock.price }} (Qty: {{ item.quantity }})</li>
                {% endfor %}
            </ul>
            <p><strong>Order Total:</strong> €{{ order.order_total }}</p>
            <p><strong>Delivery:</strong> €{{ order.delivery_cost }}</p>
            <p><strong>Grand Total:</strong> €{{ order.grand_total }}</p>
        </div>
        {% for item in order.line_items.all %}
            <p>Stock: {{ item.stock }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
