{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container text-left mt-md-5">
        <div class="row justify-content-center">
            <div class="col col-lg-8 col-md-10 col-sm-12">
                <div class="text-center mb-0 mt-3">
                    <h3>The page you are looking for isn't available</h3>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'home' %}" 
                                class="start-shopping-button btn btn-lg text-uppercase btn-dark py-1">
                                    Return to website
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
