<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'stock' %}?category=single_ball,yarn_pack" class="dropdown-item">Yarn</a>
                <a href="{% url 'stock' %}?category=knitting_needle,crochet_hook,knitting_needle_case,yarn_bowl" class="dropdown-item">Accessories</a>
                <a href="{% url 'stock' %}" class="dropdown-item">Full Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="yarn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Yarn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="yarn-link">
                <a href="{% url 'stock' %}?category=single_ball" class="dropdown-item">Single Ball</a>
                <a href="{% url 'stock' %}?category=yarn_pack" class="dropdown-item">Yarn Packs</a>
                <a href="{% url 'stock' %}?category=single_ball,yarn_pack" class="dropdown-item">All Yarn</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'stock' %}?category=knitting_needle" class="dropdown-item">Knitting Needles</a>
                <a href="{% url 'stock' %}?category=crochet_hook" class="dropdown-item">Crochet Hooks</a>
                <a href="{% url 'stock' %}?category=knitting_needle,crochet_hook,knitting_needle_case,yarn_bowl" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop By
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'stock' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'stock' %}" class="dropdown-item">Full Collection</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'faqs' %}" id="faq-link" aria-haspopup="true" aria-expanded="false">
                Help Centre
            </a>
        </li>
        <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        {% endif %}
        </li>
    </ul>
</div>