{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid container-admin text-left justify-content-center pb-6 mt-md-5">
    <div class="text-center mb-0 mt-2">
        <h3>Manage Stock</h3>
        <h5>-- Add new stock --</h5>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6 col-sm-12 mx-auto">
            <form method="POST" action="{% url 'add_stock' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <br>
                <br>
                <div class="text-right">
                    <button class="btn btn-outline-success text-uppercase" type="submit" aria-label="add new stock">Add Stock</button>
                    <a class="btn btn-outline-danger text-uppercase" href="{% url 'stock' %}">Cancel</a>
                </div>
            </form>
        </div>  
        
    </div>
</div>
{% endblock %}
