{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-admin text-left justify-content-center">
    <div class="text-center mb-0 mt-2">
        <h3>Delete</h3>
        <h5>-- Delete existing stock --</h5>
    </div>
    <hr>
    <div class="row justify-content-center mr-3 ml-3">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h4>Are you sure you want to delete "{{ stock.name }}"?</h4>
            <br>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger text-uppercase" type="submit" aria-label="delete existing stock">Yes, delete</button>
                <a class="btn back-btn btn-outline-black rounded-0 btn-md text-uppercase" href="{% url 'stock' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

