* {
    font-family: "Quicksand", sans-serif;
}

html {
    height: 100%;
}

header {
    background-color: white;
}

body {
    background: url('/media/homepage_ring_of_yarn.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

#delivery-banner {
    background-color: darkgray;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}